<% include ../partials/header %>

    <div class="container">

      <div class="starter-template">
        <h1>Join and Follow Celebrities and Entrepreneur</h1>
        <p class="lead">It's free and will always be, signup now and enjoy the new social experience</p>
      </div>

      <div class="container btns">
        <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
        <a class="btn btn-primary btn-lg" href="/login">Login</a>
      </div>

    </div><!-- /.container -->



<% include ../partials/footer %>
